body{
 background-image: 'https://cdn.xxl.thumbs.canstockphoto.com/conceptual-hand-writing-showing-lets-is-chat-business-photo-text-inviting-the-demonstrating-to-have-stock-photo_csp79392421.jpg';
 background-repeat: repeat;
 background-size: cover;
}
